*{
    margin: 0em;
    padding: 0em;
}
body{
    background-color: rgb(255,128,192);
}
header{
    background-color: rgb(255,0,128);
    text-align: center;
    height: 4em;
}
#navegacion{
    background-color: rgb(255,128,192);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#nav-list{
    background-color: rgb(255,128,192);
    width: 25em;
}
ul{
    list-style: none;
}
li>a{
    background-color: rgb(255,128,192);
    float: left;
    margin: 0em 0em;
    padding: 0em 1em;
}
#feature{
    background-color: rgb(255,192,224);
    text-align: center;
    height: 5em;
}
#columns{
    display: flex;
}
#column1{
    background-color: rgb(255,224,240);
    flex-grow:1;
    text-align: center;
    height: 5em;
}
#Copyright{
    background-color: rgb(255,192,224);
    text-align: center;
}